.text-black {
    color: $black;
}

.text-blue {
    color: $blue;
}

.text-gray {
    color: $gray;
}

.text-green {
    color: $green;
}

.text-pink {
    color: $pink;
}

.text-purple {
    color: $purple;
}

.text-black900 {
    color: $black900;
}

.text-blue100 {
    color: $blue100;
}

.text-green800 {
    color: $green800;
}

.text-purple900 {
    color: $purple900;
}

.bg-black {
    background-color: $gray;
}

.bg-gray {
    background-color: $gray;
}

.bg-green {
    background-color: $green;
}

.bg-none {
    background-color: inherit;
}

.bg-pink {
    background-color: $pink;
}

.bg-purple {
    background-color: $purple;
}

.bg-black900 {
    background-color: $black900;
}

.bg-blue100 {
    background-color: $blue100;
}

.bg-green800 {
    background-color: $green800;
}

.bg-purple900 {
    background-color: $purple900;
}