a.text-green:hover {
    color: #0b9902;
}

a.text-blue100:hover {
    padding-left: 20px;
    color: $pink;
    text-decoration: underline;
}

a.text-green800:hover {
    color: #20901d;
}

.fw-semibold_hover:hover {
    font-weight: 600; 
} 
 
.text-underline_hover:hover {
    text-decoration: underline;
}

.transform-scale_hover:hover {
    transform: scale(1.1);
}






