.ff-exo {
    font-family: $font-exo;
}

.ff-poppins {
    font-family: $font-poppins;
}

.ff-roboto {
    font-family: $font-roboto;
}

.fs-8 {
    font-size: $rem8;
}

.fs-16 {
    font-size: $rem16;
}

.fs-18 {
    font-size: $rem18;
}

.fs-24 {
    font-size: $rem24;
}

.fs-32 {
    font-size: $rem32;
}

.fs-40 {
    font-size: $rem40;
}

.text-underline {
    text-decoration: underline;
}


 

