$font-exo: "Exo 2", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-roboto: "Roboto", sans-serif;

$black: #000000;
$blue: #0d6efd;
$gray: #575756;
$green: #15b40b;
$pink: #da1d6b;
$purple: #503092;
$white: #ffffff;

$black900: #1b1f2e;
$blue100: #b6bace;
$green800: #257923;
$purple900: #6e0861;

$gradient: linear-gradient(45deg, #31126f 50%, #83055b 25%, #76075e 25%);

// rem    
$rem8: 0.5rem;
$rem16: 1rem;
$rem18: 1.125rem;
$rem24: 1.5rem;
$rem32: 2rem;
$rem40: 2.5rem;